<div class="comments-section">
  <div class="comment">
    <div class="comment-content" style="width: 90%">
      <h3>{{ comment.user.username }}</h3>
      <p>{{ comment.message }}</p>
    </div>
    <div class="comment-actions">
      <div *ngIf="comment.user.id === activeUser.id" class="comment-owner-actions">
        <mat-icon (click)="editComment()" class="comment-icon">edit</mat-icon>
        <mat-icon (click)="deleteComment(comment)" class="comment-icon">delete</mat-icon>
      </div>
      <mat-icon (click)="" class="comment-icon">reply</mat-icon>
    </div>
  </div>
  <div *ngFor="let reply of replies">
    <div *ngIf="reply.comment && reply.comment.id === comment.id" class="reply">
      <div class="reply-icon">
        <mat-icon>subdirectory_arrow_right</mat-icon>
      </div>
      <app-comment [activeUser]="activeUser" [comment]="reply" [currentAction]="currentAction" [focusedComment]="focusedComment"
                   [replies]="replies"></app-comment>
    </div>
  </div>
  <app-comment-list [activeUser]="activeUser" [postId]="postId"></app-comment-list>
  <div class="comment-form">
    <h3>{{ 'POST_FORM.' + currentAction | translate }} {{ 'POST_FORM.COMMENT' | translate }}</h3>
    <textarea [(ngModel)]="newComment.message" placeholder="{{'POST.MESSAGE' | translate}}"></textarea>
    <button (click)="handleAction()">{{ 'POST.SUBMIT' | translate }}</button>
    @if (currentAction !== 'Add') {
      <button
        (click)="currentAction = 'Add'; newComment.title = ''; newComment.message = '' ">{{ 'POST.CANCEL' | translate }}
      </button>
    }
  </div>
</div>
